@{
    ViewData["Title"] = "Home Page";
}

<div class="text-middle-left">
    <h1 class="HomeHeading">Course Pilot</h1>
    <a> <p>Welcome to Course Pilot, effortlessly manage your modules and study time in one place</p> </a>
</div>

<div class="home-image">
    <img src="/Images/Image1.png"/>
</div>

