@{
    ViewData["Title"] = "Home Page";
}
<!--Freepik. (n.d.). 3d Illustration Images - Free Download on Freepik. [online] 
    Available at: https://www.freepik.com/free-photos-vectors/3d-illustration [Accessed 12 Oct. 2023].
‌-->
<div class="text-middle-left">
    <h1 class="HomeHeading">Course Pilot</h1>
    <a> <p>Welcome to Course Pilot, effortlessly manage your modules and study time in one place</p> </a>
</div>

<div class="home-image">
    <img src="/Images/Image1.png"/>
</div>

